.overzicht_container{
    margin-left: 0;
    width: 20%;
}
.score{
  width: 10%;
}
.header{
    display: flex;
    width: 100%;
}
.item{
    width: 33.33333%;
    text-align: center;
}
.totaal{
    position: absolute;
    right: 150px;
    font-size: 100px;
    bottom: 100px;
}