html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    background-color: teal;
}
.WelcomePageContainer{
    max-height:100%;
}
.logInForm{
    width: 50%;
    margin: 5% auto;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 2%;
}
.inputItem{
    text-align: center;
    margin: 0 auto;
    padding: 1.5%;
}
.inputItem input{
    height: 2rem;
    width: 80%;
    text-align: center;
}
.inputItem_Submit{
    text-align: center;
    margin: 0 auto;
    padding-top: 6%;
}
.inputItem_Submit input{
    width: 10rem;
    height: 2.5rem;
    background-color: white;
    font-size: 1rem;
    font-family: Andalus;
    font-weight: bold;
}
.title{
    width: 30%;
    margin: 5% auto;
    text-align: center;
}

