/* Styles van alle overzichten */
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    background-color: rgb(242,234,237);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(164,164,191);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #080808;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
    
}

.score-logout{
    font-size: 2em;
    text-decoration: none;
    opacity: 0.3;
}
.content {
    text-align: center;
    font-size: 200%;
}
.container-table {
    font-size: 150%;
}
.table {
    margin: 0px auto;
    width: 80%;
    font-size:150%;
}
.table td {
    text-align: center;
}

